


#Checktext{

   font-family: monospace !important;
   font-weight: 400;
   color: #000000;
   position: absolute!important;
   left: 50%;
   top: 70%;
   transform: translate(-50%,-50%);
   font-size: 25px !important;
}
#Checktext_2{

  font-family:'Courier New' !important;
  font-weight: bold;
  position: absolute!important;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  font-size: 20px !important;
}
.loader {
    --path: #2F3545;
    --dot: #5628EE;
    --duration: 3s;
    width: 44px;
    height: 44px;
   
  }
 
 
  
 
  
